body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    45deg,
    #000000,
    #1a0000,
    #330000,
    #ff3c00,
    #ff7300,
    #000000
  );
  background-size: 400% 400%;
  animation: fireBackground 8s ease infinite;
  font-family: Arial, sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
}

@keyframes fireBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
}
  h1{
    font-size: 2rem;
    font-weight: 800
  }

/* Main Card */
.energy-card {
  justify-content: baseline;  
  align-self: center;
  width: 60%;
  padding: 50px;
  background-color: #1c1c1c; /* charcoal black */
  border-radius: 16px;
  text-align: center;
  color: white;
  justify-content: center;

  /* Glowing orange outline */
  border: 2px solid #ff6a00;
  box-shadow: 0 0 20px #ff6a00;
}

/* Title */
.energy-card h2 {
  margin-bottom: 40px;
  font-size: 28px;
  letter-spacing: 1px;
}

/* Buttons container */
.options {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* Buttons */
.energy-btn {
  padding: 15px 30px;
  font-size: 16px;
  background: black;
  color: white;
  border: 2px solid #ff6a00;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Hover glow effect */
.energy-btn:hover {
  background-color: #ff6a00;
  color: black;
  box-shadow: 0 0 15px #ff6a00;
  transform: translateY(-5px);
}